<h1>ダッシュボード💻</h1>

<p><%= @child.name %> さん、ようこそ！</p>

<ul>
  <li><%= link_to '今までのメモ📝', child_memos_path(@child), class: "btn btn-primary" %></li>
  <li><%= link_to 'NEWメモ🗒️', new_child_memo_path(@child), class: "btn btn-primary"  %></li>
</ul>